@page "/Index"
@inject HttpClient httClient



<div class="card shadow-lg">
    <div class="card-header">
        <h3>Index</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <label>Filtrar Por</label>
                <InputSelect @bind-Value="Opcion" class="form-select">
                    <option value="1">vehiculoId</option>
                    <option value="2">Descripci&oacute;n</option>
                    <option value="3">Costo</option>
                </InputSelect>
            </div>

            @if(Opcion == 1)
            {
                <div class="col-5">
                    <label>VehiculoId</label>
                    <div class="input-group">
                        
                        <InputNumber @bind-Value="Vehiculos.VehiculoId" class="form-control"/>
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            }
            else if (Opcion == 2)
            {
                <div class="col-5">
                    <label>Descripci&oacute;n</label>
                    <div class="input-group">
                        <InputText @bind-Value="Vehiculos.Descripcion" class="form-control" />
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            }
            else if (Opcion == 3)
            {
                <div class="col-4">
                    <label>Costo</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="Vehiculos.Costo" class="form-control" />
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            }
        </div>
        <div class="justify-content-end d-flex mb-4">
            <a href="Create" class="btn btn-success">Create</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>VehiculoId</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                    <th>Gastos</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ListaVehiculos)
                {
                    <tr>
                        <td>@item.VehiculoId</td>
                        <td>@item.Fecha</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Costo</td>
                        <td>@item.Gastos</td>
                        <td>
                            <a href="/Delete" class="btn btn-danger bi bi-trash-fill"></a>
                            <a href="/Edit" class="btn btn-primary bi-box-arrow-up-right"></a>
                            <a href="/View" class="btn btn-warning bi bi-info-square-fill"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    public Vehiculos Vehiculos = new Vehiculos();
    public List<Vehiculos> ListaVehiculos = new List<Vehiculos>();
    public int Opcion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaVehiculos = (await httClient.GetFromJsonAsync<List<Vehiculos>>("api/Vehiculos"))!;
    }

    public async Task Buscar()
    {
        if (Opcion == 1)
        {
            ListaVehiculos = (await httClient.GetFromJsonAsync<List<Vehiculos>>("api/Vehiculos"))!
            .Where(v => v.VehiculoId == Vehiculos.VehiculoId)
            .ToList();
        }
        if (Opcion == 2)
        {
            ListaVehiculos = (await httClient.GetFromJsonAsync<List<Vehiculos>>("api/Vehiculos"))!
            .Where(v => v.Descripcion!.ToLower() == Vehiculos.Descripcion!.ToLower())
            .ToList();
        }
        if (Opcion == 3)
        {
            ListaVehiculos = (await httClient.GetFromJsonAsync<List<Vehiculos>>("api/Vehiculos"))!
            .Where(v => v.Costo== Vehiculos.Costo)
            .ToList();
        }
    }
}
